@font-face {
  font-family: 'Spartan Medium';
  src: local('Spartan Medium'), url(./font//Spartan-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Spartan Bold';
  src: local('Spartan Bold'), url(./font//Spartan-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan Regular'), url(./font//Spartan-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
}
